.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.quantity a:hover {
  background-color: #ccc;
}

.quantity input.quality_input {
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quantity a.quintity_plus {
  background-color: #4CAF50; /* Green */
  color: white;
}

.quantity a.quintity_minus {
  background-color: #F44336; /* Red */
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
